footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 2rem;

  text-align: center;
  font-size: 1rem;

  box-shadow: 0 0 10px 1px rgb(12, 26, 38);
}

footer p {
  line-height: 110%;
}

@media only screen and (max-width: 900px) {
  footer p {
    font-size: 0.8rem;
  }
}
