body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background-color: rgba(24, 52, 76, 0.1);
}

.py-bg-blue-dark {
  background-color: rgb(24, 52, 76);
}
.py-bg-blue {
  background-color: #4b8bbe;
}
.py-bg-yellow {
  background-color: #ffd43b;
}

.py-blue-dark {
  color: rgb(24, 52, 76);
}
.py-blue {
  color: #4b8bbe;
}
.py-yellow {
  color: #ffd43b;
}
