section {
  flex-direction: column;
  display: flex;
}

.home-content {
  width: 100%;
}

.home-container{
  min-height: 34vh;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
}

.home-float-half {
  min-width: 50%;  
}

.home-float-third{
  width: 30%;
}

.home-logo-size {
  height: 50px;
}

.home-white-bg {
  background-color: whitesmoke;
}

.home-textarea {
  padding: 5%;
  text-align: center;
}

.home-py-indent {
  text-indent: 50px;
}

.home-textarea-secondary {
  padding: 9.5%;
  font-weight: 500;
}

.home-title {
  font-size: 3rem;
  font-weight: 500;
}

.home-subtitle {
  font-size: 2rem;
  font-weight: 500;
}

.home-info {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  max-width: 40vw;
}

.home-info-secondary {
  font-size: 1.5rem;
  font-weight: bold;
  max-width: 40vw;
}

.home-box {
  width: 300px;
  height: 200px;
  box-shadow: 0 0 5px 5px lightgray;
  padding: 10%;
  margin: 20px;
}

@media only screen and (max-width: 990px) {
  .home-textarea {
    padding: 10%;
  }

  .home-title {
    font-size: 2.5rem;
    font-weight: 500;
  }

  .home-subtitle {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .home-info {
    max-width: 80vw;
    font-size: 1.25rem;
  }

  .home-container{
    flex-direction: column;
    display: flex;
  }
}

  
