section {
  height: 100vh;
}

.home-title{
  padding: 100px;
  background-color: #ffd43b;

}

.home-text{
  padding: 175px;
  text-align: right;
  background-color: #4b8bbe;
  color: white;
}