.nav-container {
  padding: 8px 16px;
}

nav {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 120rem;
  padding: 0 !important;
}

.navbar-logo {
  height: 28px;
}

.navbar-btn:hover {
  opacity: 0.75;
}
