.course-items-container {
  max-width: 120rem;
  margin: auto;
}

/* Style the tab */
.course-items-tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.course-items-tab button {
  background-color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  width: 50%;
  padding: 14px 16px;
  font-size: 2rem;
  font-weight: 500;
}

/* Change background color of buttons on hover */
.course-items-tab button:hover {
  background-color: rgba(24, 52, 76, 0.2);
}

/* Create an active/current tablink class */
.course-items-tab button.active {
  background-color: rgb(24, 52, 76);
  color: #ffd43b;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}

.active {
  display: block;
}

.content-list {
  padding: 0;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}

.content-list-item {
  margin: 20px 0;
  width: 50vw;
  max-width: 800px;
}

.content-button {
  float: right;
  width: 7rem;
  border-radius: 12px;
  margin: 5px;
}

@media only screen and (max-width: 768px) {
  .course-items-tab button {
    font-size: 1rem;
  }

  .content-list-item {
    margin: 20px 0;
    width: 90vw;
  }

  .content-button {
    float: right;
    width: 4.5rem;
    min-width: 4rem;
    font-size: 12px;
    border-radius: 9px;
    padding: 4px;
  }
}
