footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 2rem;

  text-align: center;
  font-size: 1rem;
}

@media only screen and (max-width: 990px) {
  footer p {
    font-size: 0.8rem;
  }
}
