.content-container {
    padding:0;
    margin:0;
}

.profile-title-container {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    padding: 20px 40px;
}

.profile-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0;
  }
  
.profile-subtitle {
    padding-left: 0;
}

.user-content-container {
    display:flex;
    margin: auto;
}

.profile-container {
    position: relative;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.profile-info {
    position: relative;
    margin:auto;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    width: fit-content;
}

.info-title {
    margin-bottom: 0%;
    padding: 10px;
}

.user-info {
    text-align: center;
    margin: auto;
    position: relative;
    width: fit-content;
    padding: 10px;
}

.info-box {
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    margin: auto;
    border-width: 1px;
    background-color:  rgba(76, 76, 76, 0.129);
    width: fit-content;
}

.course-progress {
    background-image: rgb(24, 52, 76);
    border-radius: 0;
    width: 80%;
    height: 6px;
    border: none;
}



.content-active {
    background-color: white;
}
