.content-container {
    padding:0;
    margin:0;
}

.profile-title-container {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    padding: 20px 40px;
}

.profile-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0;
  }
  
.profile-subtitle {
    padding-left: 0;
}

.user-content-container {
    display:flex;
    margin:auto;
}

.profile-container {
    text-align: center;
    padding: 20px;
}

.profile-info {
    padding: 20px;
    margin: auto;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    width: fit-content;
    border: 1px solid #4b8bbe;
}

.info-title {
    margin-bottom: 0%;
    padding: 10px;
}

.info-box {
    position: relative;
    margin: auto;
    border-width: 1px;
    width: fit-content;
}

.info-box:hover {
  background-color:  rgba(76, 76, 76, 0.129);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.course-progress {
    background-image: rgb(24, 52, 76);
    border-radius: 0;
    width: 80%;
    height: 6px;
    border: none;
}

/*Active content*/

.dash-course-list {
    padding-left: 0;
  
    justify-content: space-evenly;
}
  
  .dash-course {
    list-style: none;
    margin: 20px 2vw;
  
    width: 68vw;
    min-width: 260px;
    max-width: 600px;
    height: 20vh;
    padding: 20px 20px;
    text-align: left;
  
    border: 1px solid #4b8bbe;
    background-color: white;
}
  
  .dash-course:hover {
    box-shadow: 0 7px 14px 0 rgba(24, 52, 76, 0.4);
}
  
  .course-score {
    color: rgba(24, 52, 76, 0.4);
    font-size: 14px;
    margin-bottom: 0px;
}
  
  .course-title {
    font-size: 2rem;
    font-weight: 500;
}
  
  .course-button {
    float: right;
    width: 8rem;
    border-radius: 12px;
    margin: 10px 10px;
}
  
  .course-progress {
    background-image: rgb(24, 52, 76);
    border-radius: 0;
    width: 80%;
    height: 6px;
    border: none;
}
  
  .course-progress::-webkit-progress-bar {
    background-color: rgba(24, 52, 76, 0.2);
}
  .course-progress::-webkit-progress-value {
    background-color: rgb(24, 52, 76);
}