@import url(global.css);
@import url(navbar.css);
@import url(home.css);
@import url(login.css);
@import url(error.css);
@import url(typewriter.css);
@import url(dashboard.css);
@import url(profile.css);
@import url(content.css);
