.user-container {
  min-height: 100vh;
  padding: 40px;
}

.user-box {
  background-color: white;
  border: 1px solid #4b8bbe;
  padding: 20px 40px;
  margin-bottom: 50px;
  max-width: 800px;
  margin: auto;
}

.user-info {
  padding: 5px 0;
  width: 100%;
}

.user-del-icon {
  color: red;
  float: right;
}

@media only screen and (max-width: 768px) {
  .user-box {
    font-size: small;
  }
}
