{% extends "components/layout.html" %} {% block content %}

<div class="home-title">
    <h1><span style="color:rgb(24, 52, 76)">Welcome to Python Perfect!</span></h1>
    <h3>Learn the basics of Python</h3>
</div>

<div class="home-text">
    <h5>Python is a very useful programming language, and with 
        <br>
        Python Perfect, you can learn the basics of Python easily.
        <br>
        <a href="{{url_for('signup')}}" style="color: #ffd43b;">Sign Up</a> or 
        <a href="{{url_for('login')}}" style= "color: #ffd43b;">Log In </a> now to access our lessons 
        <br>
        and attempt our quizzes to learn now!
        
    </h5>

</div>


{% endblock %}
