{% extends "components/layout.html" %} {% block content %} {% include
"components/alert.html" %}
<div class="dash-container">
  <div class="dash-title-container">
    <p class="dash-title typewriter">{{course.title}}</p>
    <p class="dash-subtitle">
      Learn some new content or attempt a quiz and test your skills!
    </p>
  </div>

  <div class="dash-course-container">
    {% if current_user.admin %}
    <div id="Add-Content" class="tabcontent active">
      <span
        class="btn py-blue dash-course-add p-0"
        data-toggle="modal"
        data-target="#form-content"
        ><i class="fa fa-plus mr-2"></i>Add New Content</span
      >
    </div>
    <div id="Add-Quiz" class="tabcontent">
      <span
        class="btn py-blue dash-course-add p-0"
        data-toggle="modal"
        data-target="#form-quiz"
      >
        Create a New Quiz<i class="fa fa-plus ml-2"></i
      ></span>
    </div>

    <div class="course-items-tab">
      <button
        class="tablinks active"
        onclick="openSection(event, ['Content-Section', 'Add-Content'])"
      >
        Content
      </button>

      <button
        class="tablinks"
        onclick="openSection(event, ['Quiz-Section', 'Add-Quiz'])"
      >
        Quiz
      </button>
    </div>

    {% else %}
    <div class="course-items-tab">
      <button
        class="tablinks active"
        onclick="openSection(event, ['Content-Section'])"
      >
        Content
      </button>

      <button class="tablinks" onclick="openSection(event, ['Quiz-Section'])">
        Quiz
      </button>
    </div>
    {% endif %}
    <div
      class="modal fade"
      id="form-content"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <p class="modal-title py-blue">Add New Content</p>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- prettier-ignore -->
            <form name="add-content-form" action="{{url_for('add_content', course_id=course.id)}}" method="POST">
              {{ form_content.hidden_tag() }}

              {{form_content.title(class="login-input", 
                          placeholder="Title")}}
                      
              <div class="modal-footer">
              {{form_content.submit(class="btn btn-outline py-btn-blue mt-4",
                          type="submit",
                          value="Add")}}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="form-quiz"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <p class="modal-title py-blue">Add a New Quiz</p>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- prettier-ignore -->
            <form name="add-content-form" action="{{url_for('add_quiz', course_id=course.id)}}" method="POST">
              {{ form_quiz.hidden_tag() }}

              {{form_quiz.title(class="login-input", 
                          placeholder="Title")}}
                      
              <div class="modal-footer">
              {{form_quiz.submit(class="btn btn-outline py-btn-blue mt-4",
                          type="submit",
                          value="Add")}}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="Content-Section" class="tabcontent active">
      <ul class="content-list">
        {% for content in all_content %}

        <li class="dash-course content-list-item">
          <div>
            <a href="{{url_for('edit_content', content_id=content.id)}}">
              <i class="fa fa-edit p-1 course-edit"></i>
            </a>
            {% if get_user_content_viewed(current_user, content) is not none %}
            <i class="fa fa-eye py-blue p-1 content-viewed"></i>
            {% endif %} {% if current_user.admin %} {% endif %}
            <p class="course-title py-blue">{{content.title}}</p>
            <a href="{{url_for('view_content', content_id=content.id)}}"
              ><span class="course-button btn btn-outline py-btn-blue"
                >View</span
              ></a
            >
          </div>
        </li>

        {% endfor %}
      </ul>
    </div>

    <div id="Quiz-Section" class="tabcontent">
      <ul class="content-list">
        {% for quiz in all_quiz %}
        <li class="dash-course content-list-item">
          <div>
            {% if current_user.admin %} {% endif %} {% if current_user.admin %}
            <a href="{{url_for('edit_quiz', quiz_id=quiz.id)}}">
              <i class="fa fa-edit p-1 course-edit"></i>
            </a>
            {% endif %}
            <p class="course-title py-blue">{{quiz.title}}</p>
            <a href="{{url_for('quiz', quiz_id=quiz.id)}}"
              ><span class="course-button btn btn-outline py-btn-blue"
                >Attempt</span
              ></a
            >
          </div>
        </li>

        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
