{% extends "components/layout.html" %} {% block content %} {% include
"components/alert.html" %}
<div class="dash-container">
  <div class="dash-title-container">
    <p class="dash-title typewriter">Dashboard</p>
    <p class="dash-subtitle">Select the course you would like to do</p>
  </div>

  <div class="dash-course-container">
    <span
      class="btn py-blue dash-course-add"
      data-toggle="modal"
      data-target="#form-course"
      ><i class="fa fa-plus mr-2"></i>Add New Course</span
    >
    <div
      class="modal fade"
      id="form-course"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <p class="modal-title py-blue">Add a New Course</p>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- prettier-ignore -->
            <form name="add-course-form" method="POST">
              {{ form.hidden_tag() }}

              {{form.title(class="login-input", 
                          id="course-title",
                          placeholder="Title")}}
                      
              <div class="modal-footer">
              {{form.submit(class="btn btn-outline py-btn-blue mt-4",
                          type="submit",
                          value="Add")}}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <ul class="dash-course-list">
      {% for course in courses %}
      <li class="dash-course">
        <div>
          <p class="course-title py-blue">{{course.title}}</p>
          <progress class="course-progress" value="80" max="100">32%</progress>
          <p class="course-score">8/10 Completed</p>
          <a href="{{url_for('course', course_id=course.id)}}"
            ><span class="course-button btn btn-outline py-btn-blue"
              >Continue</span
            ></a
          >
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
