{% extends "components/layout.html" %} {% block content %} {% include
"components/alert.html" %}
<div class="dash-container">
  <div class="dash-title-container">
    <p class="dash-title typewriter">Editting: {{content.title}}</p>
    <p class="dash-subtitle">
      Edit and Save the content for other users to see.
    </p>
  </div>

  <form
    class="tinymce-editor-form"
    method="POST"
    action="{{url_for('edited_content', content_id=content.id)}}"
  >
    <!--prettier-ignore-->
    {{ form.hidden_tag() }}

    {{form.content(id="Content-Editor", 
                class="tinymce-editor", 
                autofocus=true,
                placeholder="Enter your text here...")}} 
    
    {{form.submit(class="mt-3 mb-3 btn
                btn-outline-success")}}
  </form>
</div>
{% endblock %}
