{% extends "components/layout.html" %} {% block content %} {% include
"components/alert.html" %}
<div class="home-container">
  <div class="home-first">
    <div class="py-bg-blue-dark">
      <div class="home-title-container">
        <p class="home-title py-yellow">
          Welcome to
          <img
            src="{{url_for('static', filename='assets/logo-yellow.png')}}"
            alt="Python Perfect logo"
            class="home-logo"
          />
        </p>
        <p class="home-subtitle py-yellow">Learn the Basics of Python!</p>
      </div>
    </div>
    <div class="py-bg-yellow">
      <div class="home-effect-container">
        <pre class="typewriter">
def welcome():
    print("Welcome to Python Perfect,
        where practice makes Python perfect")</pre
        >
      </div>
    </div>
  </div>
  <div class="home-second py-bg-blue">
    <p>
      Python is a very useful programming language, and with the help of Python
      Perfect, you can learn the basics of Python easily.
      <a class="py-yellow" href="{{url_for('signup')}}">Sign Up</a> or
      <a class="py-yellow" href="{{url_for('login')}}">Log In </a> to access our
      lessons and attempt our quizzes to learn now!
    </p>
  </div>
  <div class="home-third">
    <ul class="home-info-list">
      <li class="home-info-box">
        <p>Choose from a wide range of courses</p>
        <i class="fas fa-book-open py-blue"></i>
      </li>
      <li class="home-info-box">
        <p>View detailed content for each course</p>
        <i class="fas fa-bars py-blue"></i>
      </li>
      <li class="home-info-box">
        <p>Attempt quizzes to test yourself and see how far you have come!</p>
        <i class="fas fa-question py-blue"></i>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
