<!DOCTYPE html>
<html>
  {% include "components/head.html" %}

  <body class="py-bg-blue-dark">
    {% include "components/alert.html" %}

    <div class="login-container">
      <div class="login-body">
        <a href="{{url_for('index')}}">
          <img
            alt="Python Perfect Logo"
            class="login-logo"
            src="{{url_for('static', filename='assets/logo-yellow.png')}}"
          />
        </a>
        <div class="login-form-container">
          <h2 class="login-title py-blue"><strong>Welcome Back!</strong></h2>
          <!-- prettier-ignore -->
          <form class="login-form" method="POST" novalidate>
            {{ form.hidden_tag() }}

            {{ form.username(class="login-input",
                            autocomplete="username",
                            placeholder="Username") }}
            {% for error in form.username.errors %}
              <div class="text-danger">{{error}}</div>
            {% endfor %}
            
            {{ form.password(class="login-input",
                             autocomplete="current-password",
                             placeholder="Password" )}}
            {% for error in form.password.errors %}
              <div class="text-danger">{{error}}</div>
            {% endfor %}
          
            {{form.submit(class="btn btn-outline-success mt-4",
                          type="submit",
                          value="Log In")}}
            <br><br>

            <a href="{{ url_for('signup') }}" class="login-new-account"
              >Don't have an account? Create one here!</a
            >
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
