{% extends "components/layout.html" %} {% block content %}

<div class="dash-container">    
    <!--Profile Heading-->
    <div class="dash-title-container">
        <p class="dash-title typewriter">Profile</p>
        <p class="dash-subtitle">View your profile and activity</p>
      </div>
    
    <div class="profile-container">
        <!--Profile container-->
        <div class="profile-info-container">
            <div class="profile-info-body">
                
                <p class ="py-blue">
                    Username:
                </p>
                <p class="profile-info">
                    {{user.username}}
                </p>
                <p class ="py-blue">
                    Email:
                </p>
                <p class="profile-info">
                    {{user.email}}
                </p>
            
                <p class="py-blue mb-2">
                  Content Completed
                </p>
                <progress class="course-progress mb-4" value={{all_viewed}} max={{all_content}}>{{all_viewed/all_content}}</progress>
                <p class="py-blue mb-2">
                  Quiz completion 
                </p>
                <progress class="course-progress mb-4" value="80" max="100">32%</progress>
                <p class="py-blue mb-2">
                  Total completion
                </p>
                <progress class="course-progress mb-4" value="80" max="100">32%</progress>
            </div>
        </div>
        
        <!--User content contianer-->

        <ul class="content-list">
            <!--Loop active courses-->
            {% for course in courses %}

            <li class="dash-course content-list-item">
              <div>
                <p class="course-title py-blue">{{course.title}}</p>
                <progress class="course-progress" value={{all_viewed}} max={{all_content}}>32%</progress>
                <p class="course-score">{{all_viewed}}/{{all_content}} Completed</p>
                <a
                  ><span class="course-button btn btn-outline py-btn-blue"
                    >View</span
                  ></a
                >
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
        
    </div>
</div>

{% endblock %}