{% extends "components/layout.html" %} {% block content %}

<div class="dash-container">
  <!--Profile Heading-->
  <div class="dash-title-container">
    <p class="dash-title typewriter">Profile</p>
    <p class="dash-subtitle">View your profile and activity</p>
  </div>

  <div class="profile-container">
    <!--Profile container-->
    <div class="profile-info-container">
      <div class="profile-info-body">
        <p class="py-blue">Username:</p>
        <p class="profile-info">{{current_user.username}}</p>
        <p class="py-blue">Email:</p>
        <p class="profile-info">{{current_user.email}}</p>

        <p class="py-blue mb-0">Content completion</p>
        <progress
          class="course-progress"
          value="{{all_content_viewed(current_user) | length}}"
          max="{{all_content() | length}}"
        >
          {{all_content_viewed(current_user) | length}}/{{all_content() |
          length}}
        </progress>
        <p class="course-score">
          {{all_content_viewed(current_user) | length}}/{{all_content() |
          length}}
        </p>
        <p class="course-score mb-3"></p>

        <p class="py-blue mb-0">Quiz completion</p>
        <progress
          class="course-progress"
          value="{{quizzes_completed}}"
          max="{{all_quizzes}}"
        >
          {{quizzes_completed}}/{{all_quizzes}}
        </progress>
        <p class="course-score mb-3">{{quizzes_completed}}/{{all_quizzes}}</p>
      </div>
    </div>

    <!--User content contianer-->

    <ul class="content-list">
      <!--Loop active courses-->
      {% for result in all_results %}

      <li class="dash-course content-list-item">
        <div>
          <p class="course-title py-blue">{{result.quiz.title}}</p>

          <progress
            class="course-progress"
            value="{{get_result_correct(result, current_user) | length}}"
            max="{{get_result_question_responses(result,current_user) | length}}"
          >
            {{get_result_correct(result, current_user) |
            length}}/{{get_result_question_responses(result, current_user) |
            length}}
          </progress>
          <p class="course-score">
            Score: {{get_result_correct(result, current_user) |
            length}}/{{get_result_question_responses(result, current_user) |
            length}}
          </p>
          <a href="{{url_for('view_result', result_id=result.id)}}"
            ><span class="course-button btn btn-outline py-btn-blue"
              >View</span
            ></a
          >
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
