{% extends "components/layout.html" %} {% block content %}

<div class="dash-container">
  <div class="dash-title-container">
    <p class="dash-title typewriter">Quiz</p>
    <p class="dash-subtitle">Attempt the quiz!</p>
  </div>

  <!--prettier-ignore-->
  <div class="quiz-container">
    <div class="question-container">
        <div id="question" class="question">
            Question m/n:
        </div>

        <div class="quiz-response">
          {% for question in questions %}
          <form action="{{url_for('submit_answer', question_id = question.id)}}">
            <label>{{question.question}}</label>
            {{ form.hidden_tag() }}

            {{ form.answer(class="login-input",
                            placeholder="Your answer goes here...") }}
            <br /> <br />
            {{ form.submit()}}
          </form>
          {% endfor %}
        </div>

    </div>
</div>

  {% endblock %}
</div>
