{% extends "components/layout.html" %} {% block content %} {% include
"components/alert.html" %}
<div class="quiz-container">
    <div class="dash-course-container">
        <div id="Content-Section" class="tabcontent active">
            <div class="dash-course content-list-item"
                data-toggle="modal" 
                data-target="#form-quiz" 
                data-backdrop="static">
                <p class="course-title py-blue">Edit Quiz</p>
            </div>
        </div>  
    </div> 
</div>

<div class="modal fade" id="form-quiz" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Question and Answer to Quiz</h4>
        </div>
        <div class="modal-body">
          <p>Question</p>
          <textarea></textarea>
          <p>Answer</p>
          <textarea></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-info" data-dismiss="modal">Add</button>
        </div> 
      </div>
    </div>
  </div>



{% endblock %}