<!DOCTYPE html>
<html>
  {% include "components/head.html" %}

  <body class="py-bg-blue-dark">
    <div class="login-container">
      <div class="login-body">
        <a href="{{url_for('index')}}">
          <img
            alt="Python Perfect Logo"
            class="login-logo"
            src="{{url_for('static', filename='assets/logo-yellow.png')}}"
          />
        </a>
        <div class="login-form-container">
          <h2 class="login-title py-blue"><strong>Create Account</strong></h2>
          <form class="login-form" action="#" name="login-form" method="POST">
            <input
              required
              autofocus
              autocomplete="username"
              id="signup-username"
              class="login-input"
              type="text"
              name="username"
              placeholder="Username"
            />

            <input
              required
              autocomplete="username"
              id="signup-email"
              class="login-input"
              type="email"
              name="username"
              placeholder="Email"
            />

            <input
              required
              autocomplete="current-password"
              id="signup-password"
              class="login-input"
              type="password"
              name="password"
              placeholder="Password"
            />

            <input
              required
              autocomplete="current-password"
              id="signup-password-confirm"
              class="login-input"
              type="password"
              name="password"
              placeholder="Confirm Password"
            />

            <input
              type="submit"
              class="btn btn-outline-success"
              value="Sign Up"
            />
            <br /><br />

            <a href="{{url_for('login')}}" class="login-new-account"
              >Already have an account? Login here!</a
            >
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
