<!DOCTYPE html>
<html lang="en">
  {% include "components/head.html" %}

  <body class="py-bg-blue-dark">
    {% include "components/alert.html" %}

    <div class="login-container">
      <div class="login-body">
        <a href="{{url_for('index')}}">
          <img
            alt="Python Perfect Logo"
            class="login-logo"
            src="{{url_for('static', filename='assets/logo-yellow.png')}}"
          />
        </a>
        <div class="login-form-container">
          <h2 class="login-title py-blue"><strong>Create Account</strong></h2>
          <!-- prettier-ignore -->
          <form class="login-form" name="login-form" method="POST">
            {{ form.hidden_tag() }}
            
            {{ form.username(class="login-input",
                            autocomplete="username",
                            placeholder="Username") }}
            {% for error in form.username.errors %}
              <div class="text-danger"> {{ error }}</div>
            {% endfor %}

            {{ form.email(class="login-input",
                          autocomplete="username",
                          placeholder="Email") }}
            {% for error in form.email.errors %}
              <div class="text-danger"> {{ error }}</div>
            {% endfor %}

            {{ form.password(class="login-input",
                            autocomplete="current-password",
                            placeholder="Password") }}
            {% for error in form.password.errors %}
              <div class="text-danger"> {{ error }}</div>
            {% endfor %}

            {{ form.re_password(class="login-input",
                               autocomplete="current-password",
                               placeholder="Confirm") }}
            {% for error in form.re_password.errors %}
              <div class="text-danger"> {{ error }}</div>
            {% endfor %}

            {% if form.specialPassword %}
              {{ form.specialPassword(class="login-input",
                                      placeholder="Special Password") }}
              {% for error in form.specialPassword.errors%}
              <span class="text-danger">{{error}}</span>
              {% endfor %}
            {% endif %}
            
            {{form.submit(class="btn btn-outline-success mt-4",
                         type="submit",
                         value="Sign Up")}}

            <br><br>

            <a href="{{url_for('login')}}" class="login-new-account"
              >Already have an account? Login here!</a
            >
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
