{% extends "components/layout.html" %} {% block content %} {% include
"components/alert.html" %}
<div class="user-container">
  <div class="user-box mb-3">
    <h2 class="py-blue">Admins:</h2>
    {% for admin in admins %}
    <div class="user-info">
      <span><b>Username: </b>{{admin.username}} </span>
      <span><b>Email: </b>{{admin.email}} </span>
      <a href="" data-toggle="modal" data-target="#del_admin_modal"
        ><i class="user-del-icon fas fa-trash-alt"></i
      ></a>
    </div>

    <div class="modal fade" id="del_admin_modal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title py-blue">Delete User?</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this user?</p>
          </div>
          <div class="modal-footer">
            <a href="{{url_for('delete_user', del_user_id = admin.id)}}"
              ><span class="btn btn-outline py-btn-blue mt-4">Yes</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
  <div class="user-box">
    <h2 class="py-blue">Users:</h2>
    {% for user in users %}
    <div class="user-info">
      <span><b>Username: </b>{{user.username}} </span>
      <span><b>Email: </b>{{user.email}} </span>
      <a href="" data-toggle="modal" data-target="#del_user_modal"
        ><i class="user-del-icon fas fa-trash-alt"></i
      ></a>
    </div>

    <div class="modal fade" id="del_user_modal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title py-blue">Delete User?</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this user?</p>
          </div>
          <div class="modal-footer">
            <a href="{{url_for('delete_user', del_user_id = user.id)}}"
              ><span class="btn btn-outline py-btn-blue mt-4">Yes</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
