{% extends "components/layout.html" %} {% block content %} {% include
"components/alert.html" %} {% for user in users %}
<!--=<style>
  .users {
    display: block;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
  }
  .users span {
    margin: 5px;
  }-->
</style>
<div class="user-container">
  <div class="user-box">
    <span><b>Username: </b>{{user.username}}</span>
    <br>
    <span><b>Email: </b>{{user.email}}</span>
    <br>
    <span>{{user.password_hash}}</span>
    <br>
    <span><b>Admin: </b>{{user.admin}}</span>
  </div>
  <p>No other users</p>
</div>

{% endfor %} {{users}}{% endblock %}
